.divuniversal {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 40px 80px auto 300px;
    grid-template-areas: 
    "h2 h2"
    "header header"
    "main main"
    "footer footer";
}
/*------------------GRIDS-----------*/

.headerh2 {
    grid-area: h2;
}
header {
    grid-area: header;
}
main {
    grid-area: main;
}
footer {
    grid-area: footer;
}